@use "../../Variables.scss" as *;

.Hero_Container {

    width: auto;
    padding: 2.5vw;
    display: flex;
    border-radius: 40px;
    gap: 2vw;
    
    img {
        width: 16.2vw;
        height: auto;
        border: solid 2px #37EEAC;
        border-radius: 30px;
    }

    .Description_Container {
        margin-top: 20px;
        
        h2 {
            font-size: clamp(1.5rem, 2vw, 1.8rem);
            line-height: 1.5;
            margin-bottom: 10px;
        }
        
        p {
            font-size: clamp(0.8rem, 1vw, 1rem);
            line-height: 1;
            margin-bottom: 10px;
        }
    }
}