@use "../../Variables.scss" as *;

.Header_Container {
    background-color: $Header-Background;
    @media (max-width: 450px) {
        height: 3vh;
    }
    @media (min-width: 750px) and (max-width: 750px) {
        height: 5vh;
    }
    @media (min-width: 750px) {
        height: 7vh;
    }
    width: auto;
    padding: 13px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    z-index: 5;
    
    img {
        @media (max-width: 450px) {
            height: 56%;    
            margin-left: 10px;
        }
        @media (min-width: 750px) and (max-width: 750px) {
            margin:  20px;
            height: 56.5%;    
            margin-left: 10px;
        }
        @media (min-width: 750px) {
            height: 63%;    
            margin-left: 20px; 
        }
        width: auto;
        object-fit: contain;    
        position: absolute;
        top: 3;
        left: 0;
        z-index: 10;
    }
    
    nav {
        @media (max-width: 450px) {
            display: flex;
            gap: 4.5vw;
        }
        @media (min-width: 750px) and (max-width: 750px) {
            display: flex;
            gap: 3vw;
        }
        @media (min-width: 750px) {
            display: flex;
            gap: 1.5vw;
        }
        width: auto;
        font-weight: bold;
        a {
            text-decoration: none;
            color: white;
        }
    }
}