@use "../Variables.scss" as *;

body {
    background-color: $main-Background;
}

.Home_Container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100%;

    .Home_Content {
        padding: 61px 64px;
    }
}

