@use "../Variables.scss" as *;

body {
    background: url(../assets/images/Teste.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $main-Background;
}

.Home_Container {
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 100%;

    .Home_Content {
        padding: 7vh 3.2vw;

        .Contacts_Container {
            background-color: $White;
            border: solid $Black 1px;
            max-width: 25%;
            margin: 5vh 0;
            padding: 28px 31px;    
            border-radius: 30px;
         
            h2 {
                font-size: clamp(1.5rem, 2vw, 1.8rem);
                line-height: 1.5;
                margin: 0 0 2vh 0;
            }
            
            a {
                text-decoration: none;
                width: fit-content;
            }
            
            .Email_Container, .Youtube_Container {
                display: flex;
                align-items: center;
                height: auto;
                gap: 0.7vw;
                
                img {
                    width: 2vw;
                    height: auto;
                }
            }
        }

        .Members_Title{
            font-size: clamp(2.3rem, 2vw, 2.5rem);
            line-height: 1.5;
            text-align: center;
        }

        .Members_Container {
            display: flex;
            justify-content: space-between;
            margin: 1vh 2vw;
        }
    }
}

