@use "../../../Variables.scss" as *;

.Footer_Container {
    height: auto;
    background-color: #464968;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh 2vw;


    p {
        color: $White;
        font-weight: 400;
    }

    .Report_Container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 400px) {
            max-width: 160px;
            font-size: 0.8em;
        }
        @media (min-width: 400px) and (max-width: 600px) {
            font-size: 0.9em;
        }
        @media (min-width: 600px) {
            font-size: 1em;
        }
        
        .Email_Text {
            color: $LightAnchor-Color;
            text-decoration: none;
            font-weight: 500;
        }
    }
    
    .Suport_Container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        @media (max-width: 400px) {
            max-width: 160px;
            font-size: 0.8em;
        }
        @media (min-width: 400px) and (max-width: 600px) {
            font-size: 0.9em;
        }
        @media (min-width: 600px) {
            font-size: 1em;
        }

        p {
            font-weight: 500;
        }
    }
}