@use "../../Variables.scss" as *;

.Member_Container {
    height: 78.1vh;
    width: 19.9vw;
    background-color: $Member-Background;
    padding: 3.8vh 2vw 4.4vh;
    border: solid $Black 2px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 19.8vw;
        height: auto;
        border: solid $Image-Border 2px;
        border-radius: 15px;
    }

    p, a{
        width: fit-content;
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
    }

    h3 {
        text-align: center;
    }

    p {
        color: $White;
        margin-bottom: 1.8vw;
    }
}