@use "./Variables.scss" as *;

.Orange_Color {
    color: $DarkFont-Color;
}

.DarkLink_Font {
    text-decoration: none;
    font-weight: 500;
    color: $DarkAnchor-Color;
}

.LightLink_Font {
    text-decoration: none;
    font-weight: 500;
    color: $LightAnchor-Color;
}

.BlueTitle_Color {
    color: $BlueTitle-Color;
}

.Default_Background {
    background-Color: $Default_Background;
}

.MemberTitle_Color {
    color: $MemberTitle-Color;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
}