// Default Colors
$White: #ffffff;
$Black: #000000; 

// Background
$main-Background: #F2EDE5;
$Header-Background: #2E357B;
$Default_Background: #130E31;
$Member-Background: #EA5400E5;

//Font
$DarkFont-Color: #EC7B3C; 
$DarkAnchor-Color: #198C63;
$LightAnchor-Color: #37EEAC;
$BlueTitle-Color: #164ACE;
$MemberTitle-Color: #003AD0;
$BlueFont-Color: #164ACE;
$ErrorFont-Color: #F90000;

//Extra colors
$Image-Border: #37EEAC;