// Background

$main-Background: #F2EDE5;
$Header-Background: #2E357B;
$Default_Background: #130E31;

//Font
$DarkFont-Color: #EC7B3C; 
$LightAnchor-Color: #198C63;
$BlueTitle-Color: #164ACE;

//Extra colors
$Image-Border: #37EEAC;